<section class="navbar__content">
  <nav>
    <ul class="navbar__list">
      <li class="list__item" *ngFor="let link of navLinks">
        <a
          class="item__button"
          mat-button
          color="primary"
          [routerLink]="link.path"
          [routerLinkActive]="['active-link']"
        >
          <div class="button__content">
            <mat-icon>{{ link.icon }}</mat-icon>
            <span>{{ link.label }}</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</section>
